---
import AppLayout from "../layouts/AppLayout.astro";

---

<AppLayout title="Contact">
  <h1 class="text-2xl font-semibold">Contact</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatem perferendis iusto dignissimos consequuntur necessitatibus deleniti, eos fuga corporis ex quam sit veritatis natus non obcaecati? Ullam deleniti facilis velit?</p>
</AppLayout>