<header class="bg-[#f4e49c] flex flex-col items-center md:flex-row md:justify-between px-8 pb-4">
  <div>
    <a href="/">
      <img src="/images/logo.png" alt="">
    </a>
  </div>
  <nav class="flex gap-4">
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/about">About</a>
    <a class="nav-item" href="/contact">Contact</a>
  </nav>
</header>