---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const {title} = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
		<Header />
    <main class="container border rounded-xl p-4 my-4 mx-auto min-h-[80vh]">
      <slot />
    </main>
    <Footer />
	</body>
</html>
